@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Margaret';
		src: url('/fonts/Margaret-Bold.otf') format('opentype');
	}

	* {
		box-sizing: border-box;
		@apply font-DMSans;
	}

	h1,
	h2,
	h3 {
		@apply font-Margaret;
	}

	p {
		font-size: 1.125rem;
	}
}
